*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-size: cover;
    font-family: 'Poppins',sans-serif;
    
}


.landing-container{
   
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(backgroundimage/meta514781-homepage-mvp-bg-image-v2.webp);
    justify-items: center;
    align-content: center;
}


.landing-container .landing-content h1 {
    font-size: 6rem;
    
   color: hsl(341 63% 79%);
      font-weight: bold;
    

}
.landing-container .landing-content {
    letter-spacing: 5px;
    width: 70vw;
    font-weight: bold;
    
    
    
}
.landing-container .landing-content button{
    margin: 20px;
    width: 10vw;
    height: 50px;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #f7f3f8;
    background: hsl(18 100% 42%) ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0.3s ease;
   
   
}
.landing-container button:hover{

    background: radial-gradient( 50%, transparent 70%) ;
    box-shadow: 0 0 15px #f9f9fa;
    
}
.landing-content .landing-context{
    width: 73%;
    text-align: justify;
    color: #f2f3f8;
    font-size: 28px;    

}


.brand{

    font-size: 2.0rem;
    
    letter-spacing: 10px;

    a{

        text-decoration: none;
        color: rgb(43, 40, 40);
        transition: 0.40s;
    }
}

.nav-link .brand a:hover{

    background-color: #cbcce1;
    padding: 10px;
    transition: 0.40s;
    border-radius: 10px;
}

.navagation{

    justify-content: center;
    box-shadow: 0 0 5px;
    padding: 1em;
    display: flex;
    backdrop-filter: blur(30px);
}

.nav-link{

    align-content: flex-end;
    justify-items: center;

}
.nav-link ul{

    display: flex;
    list-style-type: none;
    gap: 4.5em;
    font-weight: 500;
    font-size: 1.5rem;
    align-items: flex-end;
    
    

    a{

        color:#3d0860;
        text-decoration: none;
        transition: 0.40s;
        border-radius: 10px;
        padding:5px;
    }
}

.nav-link a:hover{

    color: rgb(100, 70, 201);
    box-shadow: 0 0 5px rgb(134, 216, 216);
    transition: 0.40s;
    background-color: hsl(186.98deg 77.23% 47%);
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: #eda2ed;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 15px;
}
ul li a:hover{
    color: #fcfcfd;
    
}
ul li:hover ul.dropdown{
    display: block;
    width: 15vw;
    gap: 60px;
}

.main-container .content-main{

    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.main-container  .content-main .context{

    align-content: center;
    width: 50vw;
    font-size: 1.3rem;
    text-align: justify;
 
}
.main-container  .container-image {

    width: 30vw;
}
.main-container  .container-image img{

    background: transparent;
    width: 100%;
   
}

.main-container .context .btn{

    padding: 10px;
    margin-top: 15px;
    background-color:  hsl(18 100% 42%);
    border: none;
    border-radius: 5px;
    color: #f2f3f8;
    font-weight: 600;
}


.section-featured{

    padding: 10px;
    background-color: rgb(215, 217, 217);
    padding-bottom: 20px;
}
.container-featured{

    gap: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin: 20px;
}
.container-featured .card .content{

    padding: 20px;
}
.container-featured .card{

    width: 40%;
    height: 40vh;
   
   
}
.container-featured .card .content{

    display: flex;
    gap: 20px;
}
.container-featured .card .content .images{

    width: 50vw;
    height: 30vh;
    
   
}
.container-featured .card .content .images img{

    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;

    
}


.container-featured .card .content .images h2{

    text-align: center;
}

.container-featured .card .content .context{

  
    text-align: justify;
}
footer{
    width: 100%;
    height: 50vh;
    background-color: hsl(186.98 100% 8.43%);
}
.header h3{
    
    text-align: center;
    align-self: center;
    padding: 20px;
    background-color: rgba(20, 75, 171, 0.578);
    color: rgb(240, 240, 241);
}
.groupofcontent{
    width: 100%;
    height: 50vh;
    background-color: hsl(186.98 100% 8.43%);
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
}
.groupofcontent .content-footer{
    gap: 10px;
}
.groupofcontent .content-footer img{
    width: 28px;
    margin-bottom: 10px;
    color: #454445;
}
.groupofcontent .content-footer h2{
    color: rgb(252, 253, 252);
}
.groupofcontent .content-footer ul{
    list-style-type: none;
    margin-top: 20px;
   
   
}
.groupofcontent .content-footer li{
    display: flex;
    gap: 10px;
    color: rgb(183, 184, 181);
}
.content-footer .mylife img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 45%;
    margin-top: 20px;
}
.content-footer .mylife p {
    color: rgb(235, 233, 237);
}
.content-footer .mylife h4{
    color: rgb(36, 202, 144);
}

.blog-container{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}
.page-container .card-container{
    width: 50%;
    text-align: justify;
    padding: 100px;
    box-shadow: 0 0 20px;
}
.page-side-container .card-container{
    width: 100%;
    padding: 100px;
   text-align: justify;
   box-shadow: 0 0 20px;
}
 .about-container .content{
    box-shadow: 0 10px hsl(187, 100%, 12%);
}
.section-branches{
    width: 100vw;
    padding: 20px;
    justify-items: center;
    background-color: #acaaac;
}
.section-branches .card-branches{

    display: flex;
    gap: 30px;
    width: 80vw;
}
 .carrer-container .carrer-content{
    width: 100%;
    box-shadow:   0 -10px  hsl(187, 100%, 12%);
}

.section-branches .card-branches .subtext{

    align-content: center;
    justify-items: center;
    text-align: center;
}

.section-branches .card-branches .subtext h3{

    padding-bottom: 20px;
    color: rgb(42, 38, 38);
}
.card-branches .images{

    width: 40vw;
    height: 30vh;
    
}
.card-branches .images img{

    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px;
}
.section-branches h2{
    font-size: 1.5rem;
    font-weight: 800;

}

.program-content{
    
    display: flex;
    gap: 20px;
    margin: 20px;
}
.program-content .content{
    width: 100%;
    text-align: justify;
    padding: 20px;
    margin-bottom: 10px;
}
.program-content .content h2{
    margin-bottom: 15px;
}
.carrer-container{

    justify-items: center;
   
   
}


.carrer-container h3{

    font-size: 2.5rem;
    letter-spacing: 10px;
    text-align: center;
}
.three-container{

    display: flex;
    gap: 50px;
    width: 100vw;
    height: 50vh;
    
}
.three-container .content{

    text-align: justify;
    justify-content: center;
}
.about-container .content{
    width: 100%;
    padding: 20px;
    gap: 20px;
}
.about-container .content h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
  
}

.carrer-container h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

@media only screen and (max-width: 600px){
    
    *{
        margin: 0;
        padding: 0;
    }

    .landing-container{
   
        width: 100%;
        height: 100vh;
       
    }
    .landing-container .landing-content{
        width: 90%;
        
    }

    .landing-container .landing-content h1 {
        font-size: 3.5rem;
        padding: 20px;
        
    
    }
    .landing-container .landing-content h3{
        
        
        font-weight: bold;
        font-size: 20px;
        
        
    }
    .landing-container .landing-content span{
        font-size: 15px;
    }
    .landing-container .landing-content button{
        margin: 20px;
        width: 18vw;
        height: 50px;
        border-radius: 10px;
        font-size: 15px;
        
       
    }
    
    .landing-content .landing-context{
        width: 100%;
        font-size: 30px;    
    
    }

    .brand h1{
        
        font-size: 17px;
        letter-spacing: 5px;
        
        
    }
    
    
    
    .nav-link ul{

        gap: 12px;
    }
    .nav-link ul li a{
    
        
       list-style-type: none;
        font-size: 10px;
        align-items: flex-end;
       
        
    
       
    }
    
    
    .main-container .content-main {
    
    }
    
    .main-container  .content-main .context{
    
      font-size: 15px;
     
    }
    .main-container  .container-image {
      
        margin-top: 30px;
    }
    .main-container  .container-image img{
    
        height: 30vh;
    }
    .all-section{
        flex-wrap: wrap;
        height: 180vh;
    }
    .section-featured{
        flex-wrap: wrap;
        
    }
    .container-featured{
        font-size: 10px;
        flex-wrap: wrap;
        display: block;
    }
    .container-featured .card{

        width: 100%;
    }

    .container-featured .content .context{

        width: 90vw;
    }
    
    .container-featured .content .context .btn{
        width: 100%;
    }
}

